body {
    background-color: purple;
}

.navbarButtons{
    color: white;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 32px;
    width: 32px;
    margin-left: 1rem;
}

.navbarDropdown{
    color: white;
    border-radius: 23px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 32px;
}