body {
    background-color: purple;
    
}

#mainBody {
    display: flex;
    align-items: stretch;  
}

#navbar-pagecontent {
    width: 100%;
    margin-left: 250px;
}

.navbarButtons{
    color: white;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 32px;
    width: 32px;
    margin-left: 1rem;
}

.navbarDropdown{
    color: white;
    border-radius: 23px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 32px;
} 

#sidebar {
    background-color: rgb(0, 0, 0);
    min-width: 250px;
    min-height: 100vh;
}

#spotifyLogo {
    width: 125px;
    margin:15px 0 15px 20px;  
}

#sidebar > ul > li > a {
    color: #b3b3b3 !important;
}

hr.sidebarHr {    
    color: #b3b3b3;
    background-color: #282828;
    border: none;
    height: 1px;
    min-height: 1px;
}

#sidebar .nav-link{
    padding: 0;
    margin: 0;
}

#sidebar .nav-item{
    padding: 0 24px;
    margin: 0;
}

.sidebar > h5 {
    padding: 0;
    margin: 0;
}

.navbar{
    width: 100%;
}
#player {
    height: 60px;
    background-color: #181818;
    z-index: 10;
}
#player-album-image{
    height: 40px;
}
.player-album-image-container{
    display: flex;
    height: 60px;
    align-items: center;
}
.player-album {
font-size: 12px;
font-weight: 600;
margin-top: 10px;
margin-bottom: 0;
}
.player-artist {
font-size: 10px;
color: #b3b3b3;
}
.icons-player-album {
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    color: #b3b3b3;
}
.icons-player-middle {
   display: flex;
   justify-content: center;
   margin-top: 5px;
   margin-bottom: 10px;
}
.timeline-player {
    display: flex;
    justify-content: center;
}
.icons-player-right {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;

 }
 div#timeline {
    width: 100%;
    height: 3px;
    background: gray;
    display: block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

div#progress {
    width: 40px;
    height: 2px;
    background: white;
}
div#volume {
    min-width: 60px;
    height: 3px;
    margin-left: 5px;
    background: white;
    display: block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}