body {
    background-color: purple;
}

#mainBody {
    display: flex;
    align-items: stretch;  
}

#navbar-pagecontent {
    width: 100%;
}

.navbarButtons{
    color: white;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 32px;
    width: 32px;
    margin-left: 1rem;
}

.navbarDropdown{
    color: white;
    border-radius: 23px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 32px;
} 

#sidebar {
    background-color: rgb(0, 0, 0);
    min-width: 200px;
    height: 100vh;
}

#spotifyLogo {
    width: 125px;
    margin:15px 0 15px 20px;  
}

.navbar{
    width: 100%;
}